In [1]:
PGCONN='postgresql://postgres:PGPass@tm351-postgres:5432'
MONGOHOST='tm351-mongo'
MONGOPORT=27017
MONGOCONN='mongodb://{MONGOHOST}:{MONGOPORT}/'.format(MONGOHOST=MONGOHOST,MONGOPORT=MONGOPORT)

In [2]:
from sqlalchemy import create_engine
engine = create_engine(PGCONN)

In [3]:
from pandas import read_sql_query as psql

psql("SELECT table_schema,table_name FROM information_schema.tables \
    ORDER BY table_schema,table_name LIMIT 3;", engine)
#A table containing three rows should appear

         table_schema                 table_name
0  information_schema  _pg_foreign_data_wrappers
1  information_schema        _pg_foreign_servers
2  information_schema  _pg_foreign_table_columns

In [4]:
PGCONN2='postgresql://testuser:testpass@tm351-postgres:5432/testdb'
engine2 = create_engine(PGCONN2)
psql("SELECT * FROM quickdemo;", engine2)

   id  name  value
0   1  This     12
1   2  That    345

In [5]:
import pymongo
from pymongo import MongoClient
c = pymongo.MongoClient(MONGOCONN)

In [6]:
c.list_database_names()

['accidents', 'admin', 'config', 'local']

In [4]:
! ls -al ../.local/share

total 20
drwsrwsr-x 1 root users 4096 Mar 26 15:02 .
drwsrwsr-x 1 root users 4096 Mar 26 15:02 ..
drwsrwsr-x 1 root users 4096 Apr  8 09:33 jupyter